build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
dist
.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
versions/mc*
local.properties
core-link/
core-link
compat-link/
compat-link
mc1.20.1/common/src/main/resources/assets/wands/textures
mc1.20.1/common/src/main/resources/assets/wands/lang
mc1.21.1/common/src/main/resources/assets/wands/textures
mc1.21.1/common/src/main/resources/assets/wands/lang
mc1.21.11/common/src/main/resources/assets/wands/textures
mc1.21.11/common/src/main/resources/assets/wands/lang
.architectury-transformer/