# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
Forge/src/main/java/net/nicguzzo/common
Forge/src/main/resources/assets
Forge/src/main/resources/data
Fabric/src/main/java/net/nicguzzo/common
Fabric/src/main/resources/assets
Fabric/src/main/resources/data