build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

common/src/main/java/net/nicguzzo/wands
common/src/main/resources/assets
common/src/main/resources/data      
fabric/src/main/java/net/nicguzzo/wands/fabric
forge/src/main/java/net/nicguzzo/wands/forge
quilt/src/main/java/net/nicguzzo/wands